.user_name{
    color: #0e0548;
}
.message{
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
}
.my_message{
    background-color: rgb(0, 89, 255) !important;
    color: #000 !important;
}
.other_message{
    background-color: whitesmoke !important;
    color: #000 !important;
}
.time{
    color: #afafaf;
    float: right;
    font-size: small;
}
.message_row {
    background-color: #fff;
}