<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Join Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating"> Set Nickname</ion-label>
    <ion-input type="text" class="ion-padding ion-text-center" [(ngModel)]="nickname" placeholder="Nickname"></ion-input>
  </ion-item>
  <ion-button expand="block" class="ion-padding" (click)="joinChat()" [disabled]="nickname === ''">Join Chat as {{nickname}}</ion-button>
</ion-content>
